body {
    background-image: url("https://image.freepik.com/free-vector/realistic-design-technology-background_23-2148426705.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat,
    

  }
  .color-nav {
    background-color:#181277B3;
  }